.left{
	float: left;
	border: 1px solid #000000;
	width: 30%;
	height: 295px;
	margin-left: 15px;
	background-color: #22b8a7;
	display: block;
	margin: 12px;
}
.middle{
	float: left;
	border: 1px solid #000000;
	width: 30%;
	height: 100px;
	margin-left: 15px;
	height: 295px;
	background-color: #22b8a7;
	display: block;
	margin: 12px;
}
.right{
	float: left;
	border: 1px solid #000000;
	width: 30%;
	height: 100px;
	margin-left: 15px;
	height: 295px;
	background-color: #22b8a7;
	display: block;
	margin: 12px;
}
.one{
	border: 1 px solid #000000;
	float: right;
	width: 5px;
	height: 5px;
	}
.lh{
	float: right;
	padding: 1px;
	margin-top: 0px;
	border: 1px solid black;
	clear: both;
}
.mh{
	position: relative;
	float: right;
	padding: 1px;
	margin-top: 0px;
	border: 1px solid black;
}
.rh{
	position: relative;
	float: right;
	padding: 1px;
	margin-top: 0px;
	border: 1px solid black;
}
.head{
	text-align: center;
}
p{
	padding: 10px;
	margin-top: 60px;
}
@media screen and (min-width: 992px){
	.left{
		width: 30%;
	}
	.middle{
		width: 30%;
	}
	.right{
		width: 30%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px ){
	.left{
		width: 45%;
	}
	.middle{
		width: 45%;
	}
	.right{
		width: 92%;
	}
}
@media screen and (max-width: 767px){
	.left{
		width: 92%;
	}
	.middle{
		width: 92%;
	}
	.right{
		width: 92%;
	}